/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  /*border-radius: 100px; */
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.section-resume {
  margin-top: 1.2rem;
}

.section-hero {
  margin-top: 1.2rem;
}


/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    text-align: center;
  }

  .hero-heading {
    z-index: 2;
    margin-top:13%;
  }

}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .hero-row {
    height:100vh;
  }
  .section {
    padding: 10rem 0 15rem;
  .16-row {
    height:100vh;
  }
}
  }
  .hero {
    padding: 13rem 0 14rem;
  }
  .section-description {
    /*max-width: 90%;*/
    margin-left: auto;
    margin-right: auto;
  }

  .categories {
    padding: 10rem 0 8rem;
  }

}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}

/* Services */

.services {
  list-style: none;
  margin: 17% 0;
}

.services .service-image {
  height: 150px;
  margin-bottom: 20px;
}

.services .service-image img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.services p {
  font-size: 16px;
  letter-spacing: 0;
}

* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #black;
}
.categories .section-description {
  margin-bottom: 4rem;
}


blockquote {
font-size: 18px;
font-style: italic;
/*width: 500px;*/
margin: 0.25em 0;
padding: 7em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}
blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
padding-top: 11rem;
}
blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}

blockquote cite:before {
content: "\2014 \2009";
}



.content {
    color:#222;
    padding:50px;
    -webkit-column-count:3;
/* Chrome, Safari, Opera */
    -moz-column-count:3;
/* Firefox */
    column-count:3;
    -webkit-column-gap:40;
    column-gap:40px;
}

.content h2 {
    margin:0;
}

@media all and (min-width: 360px) and (max-width: 480px) {
    header {
        padding:5px 0 55px;
    }

    nav.main-nav a {
        font-size:17px;
    }

    nav.main-nav {
    background:#fff;
    height:60px;
    z-index:170;
    margin:0 auto;
    border-bottom:1px solid #dadada;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    text-align: center;
}

    .nav-container {
        margin:0 auto;
        width:50%;

    }

    .content {
        -webkit-column-count:1;
        /* Chrome, Safari, Opera */
        -moz-column-count:1;
        /* Firefox */
        column-count:1;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding:5px 0 55px;
    }

    nav.main-nav a {
        font-size:17px;
    }

    nav.main-nav {
    background:#fff;
    height:60px;
    z-index:170;
    margin:0 auto;
    border-bottom:1px solid #dadada;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    text-align: center;
}

    .nav-container {
        width:92%;
    }

    .content {
        -webkit-column-count:1;
        /* Chrome, Safari, Opera */
        -moz-column-count:1;
        /* Firefox */
        column-count:1
    }
}

#header-wrap {
    position: fixed;
    height: 60px;
    top: 0;
    z-index: 9999;
    padding:10px 10px 20px 10px;
    background-color:transparent;
}

.h6-report {
  font-size: 1.5rem;
  font-weight:bold;
}




.custom-image {
padding:1px;
border:1px solid #021a40;
height: 170px;
}

ul.topnav {
  list-style-type: none;
    /*margin: 0;
    padding: 0;*/
    overflow: hidden;
    background-color: rgba(238, 238, 238, 0.89);
    /*border-top: 1px solid #eee;*/
    border-bottom: 1px solid #eee;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:170;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
}

ul.topnav li a:hover {
  background-color: #111;
  color:white;
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


/* Title container */
.title {
    display: block;
    padding: 14px 16px;
    color: #f2f2f2;
    text-decoration: none;
    text-size: 20px;
    font-size: 20px;
    background-color: #333;
    height: 5rem;
}

.yesterday {
  color:red;
}
